<% provide(:title, 'О программе') %>
<header class="demo">
  <h1>О программе</h1>
</header>

<ul class="sublime">
  <li class="buttons"></li>
  <li><span class="orange">$фреймворк</span>: Ruby on Rails: <span class="blue">4.2</span>,
  <li> <span class="orange">$язык_программирование</span>: Ruby: <span class="blue">2.1</span>,
  <li></li>
  <li><span class="gray">/* Так же ставки скриптов. */</span></li>
  <li><span class="orange">$скрипты</span><span class="blue">: (JavaScript</span>, библиотека: <span class="blue">jqwery</span>,)
  <li><span class="gray">/* Дизайне использовались ставки из будстрапа. */</span></li>
  <li><span class="red">@дизайн</span>(<span class="yellow">"&gt;Css3"</span>) {</li>
  <ul class="tab">
    <li><span class="blue">Bootstrap:</span> <span class="purple">3</span>;<span class="cursor"></span></li>
  </ul>
  <li>}</li>
  <li><span class="gray">/* Выполнил программу - <a href="http://vk.com/segavo">Воробьев Сергей</a> */</span></li>
</ul>
