<% if signed_in? %>
    <% provide(:title, 'Анализ') %>
    <h1>Заказы </h1>
    <div id="quart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="ordersr" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script type="text/javascript" charset="utf-8">





$(function () {
    $('#quart').highcharts({
        title: {
            text: 'Выручка по заказам',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май']
        },
        yAxis: {
            title: {
                text: 'руб.'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'Руб'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Рубли',
            data: [80700, 578000, 1390800, 2575000, 2005670]
        }]
    });


    $('#ordersr').highcharts({
        title: {
            text: 'Количество заказов в месяц',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май']
        },
        yAxis: {
            title: {
                text: 'Количество (шт)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'Штук'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Заказы',
            data: [8, 15, 12, 23, 20]
        }]
    });
});

    </script>


    <h1>Выручка по менеджерам </h1>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script>
    $(function () {

    var ranges = [
    [12464064000, 14.3, 27.7],
    [12464928000, 14.5, 27.8],
    [12465792000, 15.5, 29.6],
    [12466656000, 16.7, 30.7],
    [12467520000, 16.5, 25.0],
    [12468384000, 17.8, 25.7],
    [12469248000, 13.5, 24.8],
    [12470112000, 10.5, 21.4],
    [12470976000, 9.2, 23.8],
    [12471840000, 11.6, 21.8],
    [12472704000, 10.7, 23.7],
    [12473568000, 11.0, 23.3],
    [12481344000, 12.2, 15.5],
    [12482208000, 12.0, 20.8],
    [12483072000, 12.0, 17.1],
    [12483936000, 12.7, 18.3],
    [12484800000, 12.4, 19.4],
    [12485664000, 12.6, 19.9],
    [12486528000, 11.9, 20.2],
    [12487392000, 11.0, 19.3],
    [12488256000, 10.8, 17.8],
    [12489120000, 11.8, 18.5],
    [12489984000, 10.8, 16.1]
    ],
    averages = [
    [12464064000, 21.5],
    [12464928000, 22.1],
    [12465792000, 23],
    [12466656000, 23.8],
    [12467520000, 21.4],
    [12468384000, 21.3],
    [12469248000, 18.3],
    [12475296000, 16.8],
    [12476160000, 17.7],
    [12477024000, 16.3],
    [12477888000, 17.8],
    [12478752000, 18.1],
    [12479616000, 17.2],
    [12480480000, 14.4],
    [12481344000, 13.7],
    [12482208000, 15.7],
    [12483072000, 14.6],
    [12483936000, 15.3],
    [12486528000, 15.2],
    [12487392000, 14.8],
    [12488256000, 14.4],
    [12489120000, 15],
    [12489984000, 13.6]
    ];


    $('#container').highcharts({

    title: {
    text: 'Выручка по менеджерам'
    },

    xAxis: {
    type: 'datetime'
    },

    yAxis: {
    title: {
    text: null
    }
    },

    tooltip: {
    crosshairs: true,
    shared: true,
    valueSuffix: 'руб'
    },

    legend: {
    },

    series: [{
    name: 'Выручка',
    data: averages,
    zIndex: 1,
    marker: {
    fillColor: 'white',
    lineWidth: 2,
    lineColor: Highcharts.getOptions().colors[0]
    }
    }, {
    name: 'Менеджер',
    data: ranges,
    type: 'arearange',
    lineWidth: 0,
    linkedTo: ':previous',
    color: Highcharts.getOptions().colors[0],
    fillOpacity: 0.3,
    zIndex: 0
    }]
    });
    });







$(function () {
    $('#index_manedjer').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Выручка каждого менеджера за месяц.'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'руб.'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Май: <b>{point.y:.1f} рублей</b>'
        },
        series: [{
            name: 'Population',
            data: [
                ['Ивлиев Виктор', 173350],
                ['Станислав Шафир', 167000],
                ['Луговская Елена', 180500],
                ['Наоми Китова', 80000],
                ['Пидойма Александра', 110600],
                ['Герман Шурц', 140000],
                ['Александр Закревский', 90000],
                ['Сузуки Иванова', 178900],
                ['Сергей Воробьёв', 107000.0],
                ['Виктория Ли', 90000],
                ['Таня Стукова', 78700]
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
});
    </script>




<div id="index_manedjer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <!--Morris.Line({
            element: 'price_chart',
            data: $('#price_chart').data('price'),
            xkey: 'data_price',
            ykeys: ['value'],
            labels: ['value']
        });
        %= content_tag :div, "", id: "price_chart",data:{prices:@prices} %>

    -->


<% else %>
    <h1>Добро пожаловать</h1>

    <h2>
      Программа предозначена для удобной работы сотрудников компании
    </h2>
    <%= link_to "Зарегистрироваться", signup_path , class: "btn btn-large btn-primary" %> |
    <%= link_to "Войти", signin_path , class: "btn btn-large btn-primary" %>
<% end %>



