<% if signed_in? %><% provide(:title, 'Создание заказа') %>
    <% provide(:title, 'Создание задач для сотрудников') %>
    <h1 class="zagolovki" >Новая задача</h1>
    <div class="row">
      <div class="span6 offset3">
        <%= render 'form' %>
      </div>
    </div>

<% else %>
    <h1>Добро пожаловать</h1>

    <h2>
      Программа предозначена для удобной работы сотрудников компании
    </h2>
    <%= link_to "Зарегистрироваться", signup_path , class: "btn btn-large btn-primary" %> |
    <%= link_to "Войти", signin_path , class: "btn btn-large btn-primary" %>
<% end %>