<% provide(:title, 'Регистрация') %>
<h1>Регистрация пользователя</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for (@user) do |f| %>
        <%= render 'fields', f: f %>
        <%= f.submit "Регистрация", class: "btn" %>
    <% end %>
</div>
</div>
