<h1 class="zagolovki" >Редактирование заказа</h1>
<html lang="en">
<head>
  <meta charset="utf-8">


</head>
<body>
<div class="row">
  <div class="span6 offset3">
    <%= render 'form' %>
  </div>
</div>

</body>
</html>
