<% provide(:title, 'Создание цены') %>



<html lang="en">
<head>
  <meta charset="utf-8">


  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
      $(function() {
          $( "#datepicker" ).datepicker();
      });
  </script>
</head>
<body>
<h1>Новая цена на услугу</h1>
<div class="row">
  <div class="span6 offset3">
    <%= render 'form' %>
  </div>
</div>

</body>
</html>