@import "bootstrap";
$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container{
  padding-top: 100px;
  width: 1180px;
  padding-left: 100px;
}
html {
  overflow-y: scroll;
}

body {
 /* padding-top: 60px;*/
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* Все важные теги */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
$lightGray:#999;
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* тело  */

#logo {
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* низ */

footer {
  position:relative ;
  bottom: 0px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
/* микросообщения о состояние */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* пользователь */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* регистрация */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/* css мой */
.navbar-inverse .navbar-inner{
  background: #5c8aa5;
  border-color: #5c8aa5;
}

.account{
  width:20px;
  height:20px;
  border:none;

}
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
/* Кнопка*/
.btn {
  background: #5c8aa5;
  background-image: -webkit-linear-gradient(top, #5c8aa5, #5c8aa5);
  background-image: -moz-linear-gradient(top, #5c8aa5, #5c8aa5);
  background-image: -ms-linear-gradient(top, #5c8aa5, #5c8aa5);
  background-image: -o-linear-gradient(top, #5c8aa5, #5c8aa5);
  background-image: linear-gradient(to bottom, #5c8aa5, #5c8aa5);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  &:hover {
    background: #3cb0fd;
    text-decoration: none;
  }
}
.center{
  background:#ffffff ;
}

/*Баннер в кабинете*/
.banner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  background: #5c8aa5;
  border: 1px solid #ddd;
  font-size: 25px;
}
.banner01{
  width: 1120px;
  height: 70px;
}
.banner02{
  background: #1F9847;
  width: 180px;
  height: 180px;
  margin-left: 37px;
  margin-bottom: 5px;
}
.banner05{
  background: #1F9847;
  width: 180px;
  height: 180px;
}
.banner06{
  background: #1F9847;
  width: 180px;
  height: 180px;
}
.banner07{
  background: #1F9847;
  width: 180px;
  height: 250px;
}
.banner08{
  width: 683px;
  height: 90px;
}
.banner09{
  width: 1120px;
  height: 100px;
}
.banner10{
  background: #1F9847;
  width: 240px;
  height: 400px;
}
.br{
  background: #1F9847;
  width: 535px;
  height: 60px;
  display: inline-block;
}
.br4{
  margin-left: 50px;  }
.img_banner01{
  margin-top: 8px;
  width: 905px;
  height: 189px;
}
.img_banner02{
  width: 240px;
  height: 240px;
}
.img_banner03{
  margin-top: 8px;
  width: 683px;
  height: 1200px;
}
.img_banner04{
  width: 240px;
  height: 544px;

}
.img_banner05{
  width: 180px;
  height: 825px;
}
.img_banner06{
  width: 683px;
  height: 430px;
}
.img_banner07{
  width: 240px;
  height: 837px;
}
.img_banner08{
  width: 180px;
  height: 579px;
}
.img_banner09{
  width: 683px;
  height: 300px;
}
.brg{
  display: inline-block;
}
.container_banner {
float: left;
}
.display_banner{
  margin-top: 8px;
  display: block;
}
.container3{
  margin-left: 10px;
}
.container2{
  margin-left: 10px;
}
.container_img{
  float: left;
}
.container_img_banner{
  overflow: hidden;
}

/*вставка с сайта http://dbmast.ru/adaptivnye-vkladki-taby-na-css3 */

/* Базовый контейнер табов */
.tabs {
  min-width: 1160px;
  max-width: 2000px;
  padding: 0px;
  margin: 0 auto;

}
/* стили секций с содержанием */
.content-menu {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;

}
.tabs input {
  display: none;

}
/* стили вкладок (табов) */
.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid #ddd;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
}
/* шрифт-иконки от Font Awesome в формате Unicode */
.tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
.tabs label[for*="1"]:before {
  content: "";
}
.tabs label[for*="2"]:before {
  content: "";
}
.tabs label[for*="3"]:before {
  content: "";
}
.tabs label[for*="4"]:before {
  content: "";
}
/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
  color: #888;
  cursor: pointer;
}
/* стили для активной вкладки */
.tabs input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 4px solid #B95649;
  border-bottom: 1px solid #fff;
  background: #fff;
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
/* медиа запросы для различных типов носителей */
@media screen and (max-width: 680px) {
  .tabs label {
    font-size: 0;
  }

  .tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .tabs label {
    padding: 15px;
  }
}
/*ТАБЛИЦА*/
.btn-see {
  width: 30px;

img {
  max-width: 100%;
  width: auto \9;
  height: auto;
  vertical-align: middle;
  border: 0;
}}





.menu-index {
  margin-top: 0px;
  z-index: 1500;
  position: fixed;
  height: 1500px;
  width: 60px;
}
#sidebar-index {
  position: absolute;
  background: #5c8aa5;
  width: 65px;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#sidebar-index ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebar-index ul li {
  margin: 0;
}
#sidebar-index ul li a {
  padding: 15px 20px;
  font-size: 10px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #5c8aa5;
  -webkit-transition:  background 0.3s ease-in-out;
  -moz-transition:  background 0.3s ease-in-out;
  -ms-transition:  background 0.3s ease-in-out;
  -o-transition:  background 0.3s ease-in-out;
  transition:  background 0.3s ease-in-out;
}
#sidebar-index ul li:hover a {
  background: #b95649;
}

.row{
  margin-left: 100px;
}

.FIO_NAME{
  width:660px;
}
.FIO_NAME_table{
  width: 265px;
}
.block_name_categori{
  width: 30px;
}
.enter_ru{
  bottom: 0px;
  position: fixed
}

.zagolovki {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  background: rgba(171, 229, 190, 0.54);
  color: rgba(37, 34, 33, 0.69);
  transition: all 1s;
}
.zagolovki:hover {
  color: #ff4b55;
}
.dropdown ul li a {
  background:#5C8AA5 ;
}
.dropdown ul li a:hover{
  background: #B95649;;
}
.modal {
  width: 1000px;
  margin-left: -477px;
}


$sublime-border-color: #b4b4b4;
$sublime-background-color: #262728;
$sublime-base-color: #f1f1f1;
$sublime-button-radius: 13px;

.sublime {
  position: relative;
  width: 80%;
  margin: 25px auto;
  padding: 2%;
  list-style: none;
  border-top: 25px solid $sublime-border-color;
  border-radius: 10px;
  background: $sublime-background-color;
  color: $sublime-base-color;
  font-family: 'Source Code Pro';
  font-weight: 200;
  font-size: 1.1em;

  .sublime li {
    min-height: 25px;
    line-height: 25px;
  }

  .buttons {
    min-height: 0;
    position: absolute;
    top: -18px;
    border-radius: 100%;
    width: $sublime-button-radius;
    height: $sublime-button-radius;
    background-color: #ff5d5b;
    border: 1px solid #e64344;

    &:before,
    &:after {
      position: absolute;
      content: "";
      width: $sublime-button-radius;
      height: $sublime-button-radius;
      border-radius: 100%;
      top: -1px;
    }

    &:before {
      left: 20px;
      border: 1px solid #e3a041;
      background-color: #ffbc4c;
    }

    &:after {
      left: 40px;
      border: 1px solid #13ad46;
      background-color: #00c956;
    }
  }

  .tab {
    margin-left: 2%;
    list-style: none;
  }

  /* Colors */
  .blue {
    color: #66d9ef;
  }

  .purple {
    color: #8a7bff;
  }

  .red {
    color: #e92772;
  }

  .green {
    color: #a6e22d;
  }

  .orange {
    color: #fd9720;
  }

  .yellow {
    color: #e6db74;
  }

  .gray {
    color: #8f908a;
  }

  .cursor:before {
    opacity: 0;
    content: "|";
    color: #f1f1f1;
    animation: blink 0.8s infinite;
  }

  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
}

/* Demo */
.demo {
  font-size: 1.2em;
  text-align: center;
  font-family: 'Old Standard TT', serif;
}

.tanya{
  color: #fff;
  width: 103px;
  height: 25px;
  background: #5C8AA5;
  padding: 16px;
 label{
  display: inline;

}
  &:hover{
    background: rgba(75, 168, 50, 0.79);
  }}
.razpred{
  font-family: "PT Sans" , Helvetica;
  color:#eff2f7;
  background: #00c956;
  text-align: center;
  margin-top: 15px;
  padding: 6px 0px 6px 0px;
}
.hr {
  width: 643px;
  padding-bottom: 1px;
  background-color: #9b9b9b;
  border-bottom:1px solid #F4F4F4;
}
.ohyenchik{
  line-height: 29px;
  /* text-indent: initial; */
  padding: 27px;
  /* text-align: center; */
  background: rgba(239, 233, 120, 0.28);
  width: 568px;
  height: 121px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin-top: 15px;
}
.ohyenchik2{
  font-size: 15px;
  line-height: 29px;
  /* text-indent: initial; */
  padding: 27px;
  /* text-align: center; */
  background: rgba(120, 239, 162, 0.28);
  width: 570px;
  height: 121px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin-top: 15px;
}
.ohyenchik3{
  padding-top: 7px;
  height: 33px;
  width: 564px;
  background: #F2C7CA;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin-top: -17px;
  margin-bottom: 10px;
}
.ohyenchik4 {
  line-height: 29px;
  /* text-indent: initial; */
  padding: 27px;
  padding-bottom: 100px;
  /* text-align: center; */
  background: rgba(239, 233, 120, 0.28);
  /* width: 568px; */
  height: 255px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin-bottom: 15px;
  margin-top: 15px;
  div{
    text-align: center;
    font-size: 23px;
  }
}
.ohyenchik5 {
  padding-top: 7px;
  height: 33px;
  width: 514px;
  background: #F2C7CA;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin-top: -19px;
  margin-bottom: 23px;
}
.ohyenchik6 {
  padding-top: 42px;
  padding-left: 25px;
  height: 435px;
  width: 539px;
  background: #FFFFFF;
  /* text-align: center; */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  /* margin-top: 0px; */
  margin-bottom: 41px;
}
.avatar-aang{
  padding: 15px;
  height: 79px;
  font-size: 8px;
  text-align: center;
  width: 301px;
  background: #FFFFFF;
  margin-bottom: 45px;
  /* width: 80%; */
  /* max-width: 550px; */
  /* margin: 3em auto; */
  /* padding: 4em; */
  box-shadow: 7px 14px 100px -32px #0454fb;
}