<footer class="footer">
  <small>
    <a href="http://vk.com/segavo">Segavo</a>
    by segavo
  </small>
  <nav>
    <ul>
      <li><%= link_to "О программе",  about_path %></li>
      <li><a href="https://www.tumblr.com/dashboard">Новости</a></li>
    </ul>
  </nav>
</footer>